html, body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

#wrap1 .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
#wrap1 .logo .bucheon img {
  width: 40%;
}
#wrap1 .logo .faSite {
  position: relative;
}
#wrap1 .logo .faSite a.family {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid black;
  padding: 0 4rem 0 1rem;
  position: relative;
}
#wrap1 .logo .faSite a.family:after {
  content: url(/bucheon/img/family-arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem;
}
#wrap1 .logo .faSite .faul {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 2rem;
}

.menuWrap {
  position: relative;
  z-index: 1111;
}
.menuWrap .inner {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transform: translate(-50%, -16%);
}
.menuWrap .inner .menu {
  padding: 2rem;
}
.menuWrap .inner .menu li {
  padding: 1rem 0;
}
.menuWrap .naviStyle {
  transform: translate(0%, -16%);
  transition: all 1s;
  background-color: rgb(9, 9, 104);
}
.menuWrap .naviStyle .menu a {
  color: white;
}
.menuWrap .naviStyle #trigger li {
  background-color: white;
  transition: all 0.3s;
  margin-bottom: 0;
}
.menuWrap .naviStyle #trigger li:nth-child(1) {
  transform: translateY(30px) rotate(-45deg);
}
.menuWrap .naviStyle #trigger li:nth-child(2) {
  opacity: 0;
}
.menuWrap .naviStyle #trigger li:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}

#trigger {
  padding: 2rem;
  cursor: pointer;
  position: relative;
}
#trigger li {
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: black;
  transform: translate(50%, 1000%);
}
#trigger li:nth-child(1) {
  top: 0;
}
#trigger li:nth-child(2) {
  top: 20px;
}
#trigger li:nth-child(3) {
  top: 40px;
}

.quick {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
.quick i {
  color: blue;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.maintext {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maintext p {
  font-family: "Ubuntu", sans-serif;
  font-size: 5rem;
}
.maintext .swiperWrap {
  width: 500px;
  height: 400px;
}
.maintext .swiperWrap .textSwiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.maintext .swiperWrap .textSwiper li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.maintext .swiperWrap .textSwiper .slideText {
  font-size: 3rem;
  margin-top: 2rem;
}
.maintext .swiperWrap .textSwiper .bifan {
  width: 40%;
}
.maintext .swiperWrap .textSwiper .peach {
  width: 40%;
}
.maintext .buchon {
  display: flex;
}
.maintext .buchon img {
  transform: scaleX(-1) rotate(136deg);
  cursor: pointer;
}
.maintext .buchon img:hover {
  transform: scaleX(-1) rotate(136deg) translate(10%, 30%);
  transition: all 0.3s;
}

.maintext,
.coreSlide,
.tabWrap {
  margin-bottom: 15rem;
}

.coreSlide .fullSlide {
  max-width: 1320px;
  margin: 0 auto;
  overflow: hidden;
}
.coreSlide .fullSlide .imgSlide {
  display: flex;
  align-items: center;
}
.coreSlide .fullSlide .imgSlide img {
  width: 100%;
  border-radius: 80px 80px 0 0;
}
.coreSlide .slidebtn {
  position: relative;
}
.coreSlide .slidebtn .prevBtn,
.coreSlide .slidebtn .nextBtn {
  position: absolute;
  line-height: 0;
  top: 0;
  right: 50%;
}
.coreSlide .slidebtn .prevBtn:before,
.coreSlide .slidebtn .nextBtn:before {
  content: url(/bucheon/img/prev.svg);
}
.coreSlide .slidebtn .prevBtn {
  transform: translate(-200%, 50%);
}
.coreSlide .slidebtn .nextBtn {
  transform: translate(200%, 50%) rotate(180deg);
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  padding: 6rem 0;
  background-color: #4b56cb;
  width: 100%;
  display: none;
}
#popup .closeBtn {
  position: relative;
  width: 100%;
}
#popup .closeBtn span {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 3px;
  background-color: white;
  cursor: pointer;
}
#popup .closeBtn span:nth-child(1) {
  transform: translate(-100%, -1000%) rotate(45deg);
}
#popup .closeBtn span:nth-child(2) {
  transform: translate(-100%, -1000%) rotate(-45deg);
}
#popup .cover {
  width: 100vw;
  display: flex;
  transform: rotate(10deg);
}
#popup .cover .first {
  display: flex;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.53);
}
#popup .yesterday {
  background-image: url(/bucheon/img/yesterday.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 80px;
}
#popup .yesterday .yesText {
  background-color: rgba(0, 0, 0, 0.448);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  border-radius: 80px;
}
#popup .yesterday .yesText p {
  padding: 5rem 2rem;
  line-height: 2rem;
  background-color: rgba(255, 255, 255, 0.615);
  border-radius: 0 80px 80px 0;
}
#popup .yesterday .yesText p span {
  font-size: 1.5rem;
}

.tabWrap {
  padding-bottom: 60%;
}
.tabWrap .tab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.tabWrap .tab .food,
.tabWrap .tab .cafe,
.tabWrap .tab .place {
  position: relative;
}
.tabWrap .tab .food h2,
.tabWrap .tab .cafe h2,
.tabWrap .tab .place h2 {
  padding: 1rem;
  cursor: pointer;
}
.tabWrap .tab .food .abs,
.tabWrap .tab .cafe .abs,
.tabWrap .tab .place .abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 5rem;
  color: rgba(75, 86, 203, 0.1529411765);
  transform: translateY(-30%);
}
.tabWrap .tab .food .ulWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(20%);
  display: grid;
  grid-template-columns: repeat(3, 285px);
  grid-template-rows: repeat(2, 285px);
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 180px;
}
.tabWrap .tab .food .ulWrap .d1ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabWrap .tab .food .ulWrap .d1ul .d1li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.tabWrap .tab .food .ulWrap .d1ul .d1li img {
  width: 100%;
  border-radius: 50%;
}
.tabWrap .tab .food .ulWrap .d1ul .tabText {
  position: relative;
  margin-top: 18rem;
  text-align: center;
}