html, body {
  width: 100%;
  overflow-x: hidden;
}

#wrap1 .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
#wrap1 .logo .bucheon img {
  width: 40%;
}
#wrap1 .logo .faSite {
  position: relative;
}
#wrap1 .logo .faSite a.family {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid black;
  padding: 0 4rem 0 1rem;
  position: relative;
}
#wrap1 .logo .faSite a.family:after {
  content: url(/bucheon/img/family-arrow.svg);
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem;
}
#wrap1 .logo .faSite .faul {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 2rem;
}

#trigger {
  padding: 2rem;
}
#trigger li {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-bottom: 0.8rem;
}
#trigger li:nth-of-type(3) {
  margin-bottom: 0;
}

.menuWrap {
  position: relative;
}
.menuWrap .inner {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transform: translate(-50%, -16%);
}
.menuWrap .inner .menu {
  padding: 2rem;
}

.menuWrap .inner.naviStyle {
  transform: translate(0%, -16%);
  transition: all 1s;
  background-color: rgb(9, 9, 104);
}

.quick {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
}
.quick i {
  color: blue;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.maintext {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maintext p {
  font-family: "Ubuntu", sans-serif;
  font-size: 5rem;
}
.maintext .swiperWrap {
  width: 500px;
  height: 400px;
}
.maintext .swiperWrap .textSwiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.maintext .swiperWrap .textSwiper li {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(30%, 30%);
}
.maintext .swiperWrap .textSwiper .slideText {
  font-size: 3rem;
  margin-top: 2rem;
}
.maintext .swiperWrap .textSwiper .bifan {
  width: 40%;
}
.maintext .swiperWrap .textSwiper .peach {
  width: 40%;
}

.maintext,
.coreSlide,
.yesterday {
  margin-bottom: 15rem;
}

.coreSlide .fullSlide {
  max-width: 1320px;
  margin: 0 auto;
  overflow: hidden;
}
.coreSlide .fullSlide .imgSlide {
  display: flex;
  align-items: center;
}
.coreSlide .fullSlide .imgSlide img {
  width: 100%;
  border-radius: 80px 80px 0 0;
}
.coreSlide .slidebtn {
  position: relative;
}
.coreSlide .slidebtn .prevBtn,
.coreSlide .slidebtn .nextBtn {
  position: absolute;
  line-height: 0;
  top: 0;
  right: 50%;
}
.coreSlide .slidebtn .prevBtn:before,
.coreSlide .slidebtn .nextBtn:before {
  content: url(/bucheon/img/prev.svg);
}
.coreSlide .slidebtn .prevBtn {
  transform: translate(-200%, 50%);
}
.coreSlide .slidebtn .nextBtn {
  transform: translate(200%, 50%) rotate(180deg);
}

.cover {
  width: 100vw;
  display: flex;
}
.cover .first,
.cover .second {
  display: flex;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.53);
}
.cover .second {
  white-space: nowrap;
  justify-content: flex-end;
}

.yesterday {
  background-image: url(/bucheon/img/yesterday.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 80px;
}
.yesterday .yesText {
  background-color: rgba(0, 0, 0, 0.448);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  border-radius: 80px;
}
.yesterday .yesText p {
  padding: 5rem 2rem;
  line-height: 2rem;
  background-color: rgba(255, 255, 255, 0.615);
}
.yesterday .yesText p span {
  font-size: 1.5rem;
}