html, body{
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
#wrap1{
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
       .bucheon{
            img{
                width: 40%;
            }
       } 
       .faSite{
        position: relative;
            a.family{
                display: flex;
                justify-content: start;
                border-bottom: 1px solid black;
                padding: 0 4rem 0 1rem;
                position: relative;
                &:after{
                    content: url(/bucheon/img/family-arrow.svg);
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding-right: 1rem;

                }
            }
            .faul{
                position: absolute;
                top: 100%;
                left: 0;
                line-height: 2rem;
            }
        }
    }
}
.menuWrap{
    position: relative;
    z-index: 1111;
    .inner{
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        transform: translate(-50%, -16%);
        .menu{
            padding: 2rem;
            li{
                padding: 1rem 0;
            }
        }
    }
    .naviStyle{
        transform: translate(0% , -16%);
        transition: all 1s;
        background-color: rgb(9, 9, 104);
        .menu{
            a{
                color: white;
            }
        }
        #trigger{
            li{
                background-color: white;
                transition: all 0.3s;
                margin-bottom: 0;
                &:nth-child(1){
                   -webkit-transform: translateY (20px) rotate (-45deg);
                    transform: translateY(30px) rotate(-45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    -webkit-transform: translateY(-20px) rotate(45deg);
                    transform: translateY(-10px) rotate(45deg);
                }
            }
        }

    }
}
#trigger{
    padding: 2rem;
    cursor: pointer;
    position: relative;
    li{
        position: absolute;
        left: 0;
        width: 30px;
        height: 3px;
        background-color: black;
        transform: translate(50%, 1000%);
        &:nth-child(1){
            top: 0;
        }
        &:nth-child(2){
            top: 20px;
        }
        &:nth-child(3){
            top: 40px;
        }
    }
}
.quick{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
    i{
        color: blue;
        font-size: 1.2rem;
        padding: 0.5rem;

    }
}
.maintext{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 5rem;
    }   
    .swiperWrap{
        width: 500px;
        height: 400px;
        .textSwiper{
            position: relative;
            width: 100%;
            height: 100%;
            li{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
            .slideText{
                font-size: 3rem;
                margin-top: 2rem;
            }
            .bifan{
                width: 40%;
            }
            .peach{
                width: 40%;
            }
        }
    }
    .buchon{
        display: flex;
        img{
            transform: scaleX(-1)rotate(136deg);
            cursor: pointer;
            &:hover{
                transform: scaleX(-1) rotate(136deg) translate(10%, 30%);
                transition: all 0.3s;
            }
        }
    }
}
.maintext,
.coreSlide,
.tabWrap{
    margin-bottom: 15rem;
}
.coreSlide{
    .fullSlide{
        max-width: 1320px;
        margin: 0 auto;
        overflow: hidden;
        .imgSlide{
            display: flex;
            align-items: center;
            img{
                width: 100%;
                border-radius: 80px 80px 0 0;
            }
        }
    }
    .slidebtn{
        position: relative;
        .prevBtn,
        .nextBtn{
            position: absolute;
            line-height: 0;
            top: 0;
            right: 50%;
            &:before{
                content: url(/bucheon/img/prev.svg);
            }
        }
        .prevBtn{
            transform: translate(-200%, 50%);
        }
        .nextBtn{
            transform: translate(200%, 50%) rotate(180deg);
        }
    }
}


#popup{
    position: fixed;
    top: 0;
    left: 0;
    padding: 6rem 0;
    background-color: #4b56cb;
    width: 100%;
    display: none;
    .closeBtn{
        position: relative;
        width: 100%;
        span{
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 3px;
            background-color: white;
            cursor: pointer;
            &:nth-child(1){
                transform: translate(-100%, -1000%)rotate(45deg);
            }
            &:nth-child(2){
                transform: translate(-100%, -1000%)rotate(-45deg);
            }
        }
    }
    .cover{
        width: 100vw;
        display: flex;
        transform: rotate(10deg);
        .first
        {
            display: flex;
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.53);
        }
    }
    .yesterday{
        background-image: url(/bucheon/img/yesterday.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        border-radius: 80px;
        .yesText{
            background-color: rgba(0, 0, 0, 0.448);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: end;
            border-radius: 80px;
            p{
                padding: 5rem 2rem;
                line-height: 2rem;
                background-color: rgba(255, 255, 255, 0.615);
                border-radius: 0 80px 80px 0;
                span{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
.tabWrap{
    padding-bottom: 60%;
    .tab{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        .food,
        .cafe,
        .place{
            h2{
                padding: 1rem;
                cursor: pointer;
                position: relative;
                z-index: 11;
            }
            .abs{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                font-size: 20rem;
                color: #4b56cb19;
                transform: translate(215%,60%);
            }
            .ulWrap{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                transform: translateY(20%);
                display: none;
                grid-template-columns: repeat(3, 285px);
	            grid-template-rows: repeat(2, 285px);
                column-gap: 100px;
	            row-gap: 180px;
                justify-content: center;
                .d1ul{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .d1li{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        img{
                            width: 100%;
                            border-radius: 50%;
                        }
                    }
                    .tabText{
                        position: relative;
                        margin-top: 18rem;
                        text-align: center;
                    }
                }
            }
        }
        .cafe,
        .place{
            .ulWrap{
                grid-template-columns: repeat(2, 285px);
                grid-template-rows: repeat(2, 285px);
            }
        }
        .tablist.active{
            .tabBtn{
                background-color: #4b56cb;
                color: white;
            }
            .ulWrap{
                display: grid;
            }
        }

    }
}


