.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Hahmlet', serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.mjinner{
    max-width: 1420px;
    margin: 0 auto;
}
.d-none{
    display: none;
}
